$green-base: #1D5651;
$green-dark: #134642;
$green-user: #3E827C;
$green-clear: #E5EEED;
$yellow-base: #FDC575;
$yellow-user: #DEA24B;
$grey: #8B8E8E;
$red: #FD7D75;
$font-defaut: 'Open Sans', sans-serif;
$font-logo: 'Lato', sans-serif;
